p
{
	color: Black;
	font-family: Arial;
}
#body {
	padding: 0; 
    margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
	line-height: 18px;
}
#container {
width: 950px;
margin: auto;
margin-top: 20px;
}
#kopf {
    height: 80px;
    background-color: #2222aa;
}
#spalten {
background-color:#aaaaaa;
min-height: 500px;
}
#navigation {
margin-top: 5px;
width: 150px;
height: 500px;
float: left;
background-color: #2222aa;
}
#navigation a {
display: block;
height: 24px;
padding-left: 10px;
padding-top: 6px;
color: orange;
text-decoration: none;
}
#navigation a:hover {
color: white;
background-color: #2222aa;
border-left: 6px solid #aaaaaa;
padding-left: 4px;
}
#navigation a.aktiv {
border-left: 6px solid #aaaaaa;
padding-left: 4px;
}
#inhalt {
width: 800px;
float: left;
}
#Mitte {
position: absolute;
width: 200px;
height: 150px;
top: 50%;
left: 50%;
margin-top: -75px;
margin-left: -100px;
}
#MitteHtml {
position: absolute;
left: 30%;
width: 750px;
}
 a:link{color:#001060;}