#dialogoverlay{display: none; opacity: .8; position: fixed; top: 0px; left: 0px; background: #FFF; width: 100%; z-index: 10;}
#dialogbox{display: none; position: fixed; background: #000; border-radius:7px; width:70%; z-index: 10; }
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }
body{ height: 100%; width: 100%; }
h1 { font-size: 5em; }
.tabelle{ width: 90%; float: left; }
.addButton{ float: right; margin-top: 43%; margin-right: 1%; }
.input{ float: left; width: 49%; }
.input form label{ font-size: 1.5em; margin-bottom: 2em; }
.modal-footer button{margin-right: 1em; }
.welcomeText{font-weight: bold; font-size-adjust: 3px;}